{% extends "board/base.html" %}

{% block title %}Видалення облікового запису{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Видалення облікового запису</h2>
    <p>Ви впевнені, що хочете видалити свій обліковий запис? Цю дію неможливо скасувати.</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Так, видалити</button>
        <a href="{% url 'board:user_profile' user_id %}" class="btn btn-secondary">Скасувати</a>
    </form>
</div>
{% endblock %}
